{% extends 'layouts/main.html'%}
{% load static %}
{% block 'title'%} home{% endblock %}
{% block styles %}
<style>

.price {
  font-weight: 600;
  color: #212529;
}

.price-old {
  color: #969696;
  margin-left: 3px;
  font-size: 85%;
}





</style>
{%endblock%}
<!-- Body Section Begin -->
{% block 'body'%}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Categories</span>
                    </div>
                    <ul>
                        {% for cat in sub_category %}
                        <li><a href="{% url 'show_category_product' cat_id=cat.id %}">{{cat.sub_category_name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                {% include 'include/alert.html' %}
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="{% url 'search' %}" method="get">
                            {% csrf_token %}
                            <input type="text" placeholder="What do yo u need?" name="keyword">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                {% if 'search' in request.path %}

                {% else %}
                <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner.png' %}">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br/>100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="{% url 'view_shop' %}" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<!--{% if 'search' in request.path %}-->
<!--{% else %}-->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                {% for item in category %}
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="">
                        <img src="/media/{{item.cat_image}}">
                        <h5><a href="{% url 'show_category_product' cat_id=item.id %}">{{item.category_name}}</a></h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- {% endif %}-->
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    {% if 'search' in request.path %}
                    <h2> Search Result</h2>
                    {% else %}
                    <h2> Products</h2>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row featured__filter">
            {% for item in products %}

            <div class="col-lg-3 col-md-4 col-sm-6 ">

                <div class="featured__item">
                    <div class="featured__item__pic set-bg"
                         data-setbg="">
                        <a href="{% url 'single_product' product_id=item.id %}">
                            <img src="/media/{{item.product.images}}">
                        </a>
                        <ul class="featured__item__pic__hover">
                            <li><a href="{% url 'add_wishlist' variant_id=item.id%}"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="{% url 'add_cart' item.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">{{item.product.product_name}}</a></h6>
                        <div>
                            <span class="price">₹ {{item.selling_price}}</span>
                            <del class="price-old">₹ {{item.original_price}}</del>
                        </div>

                    </div>
                </div>

            </div>

            {% endfor %}
        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="{% static 'img/banner/banner-1.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="{% static 'img/banner/banner-2.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2> Latest Products</h2>
                </div>
            </div>
        </div>

        <div class="row featured__filter">
            <div class="categories__slider owl-carousel">
                {% for item in newest_products %}

                <div class="col-lg-3 col-md-4 col-sm-6 ">

                    <div class="featured__item">
                        <div class="featured__item__pic set-bg"
                             data-setbg="">
                            <a href="{% url 'single_product' product_id=item.id %}">
                                <img src="/media/{{item.product.images}}">
                            </a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="{% url 'add_wishlist' variant_id=item.id%}"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="{% url 'add_cart' item.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{item.product.product_name}}</a></h6>
                            <div>
                                <span class="price">₹ {{item.selling_price}}</span>
                                <del class="price-old">₹ {{item.original_price}}</del>
                            </div>

                        </div>
                    </div>

                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->

<!-- Top rate Product Section Satrt -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Top Rated Products</h2>
                </div>
            </div>
        </div>

        <div class="row featured__filter">
            <div class="categories__slider owl-carousel">
                {% for item in top_rated_products %}

                <div class="col-lg-3 col-md-4 col-sm-6 ">

                    <div class="featured__item">
                        <div class="featured__item__pic set-bg"
                             data-setbg="">
                            <a href="{% url 'single_product' product_id=item.id %}">
                                <img src="/media/{{item.product.images}}">
                            </a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="{% url 'add_wishlist' variant_id=item.id%}"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="{% url 'add_cart' item.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{item.product.product_name}}</a></h6>
                            <div>
                                <span class="price">₹ {{item.selling_price}}</span>
                                <del class="price-old">₹ {{item.original_price}}</del>
                            </div>

                        </div>
                    </div>

                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Top rate Product Section End -->


<!-- Top review Product Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Review Products</h2>
                </div>
            </div>
        </div>

        <div class="row featured__filter">
            <div class="categories__slider owl-carousel">
                {% for item in newest_products %}

                <div class="col-lg-3 col-md-4 col-sm-6 ">

                    <div class="featured__item">
                        <div class="featured__item__pic set-bg"
                             data-setbg="">
                            <a href="{% url 'single_product' product_id=item.id %}">
                                <img src="/media/{{item.product.images}}">
                            </a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="{% url 'add_wishlist' variant_id=item.id%}"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="{% url 'add_cart' item.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{item.product.product_name}}</a></h6>
                            <div>
                                <span class="price">₹ {{item.selling_price}}</span>
                                <del class="price-old">₹ {{item.original_price}}</del>
                            </div>

                        </div>
                    </div>

                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock%}