{% load static %}
<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="" width="130px" height="70px"></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i></a></li>
            {% endif %}
            <li><a href="{% url 'wish_list' %}"><i class="fa fa-heart"></i> <span>{{wish_count}}</span></a></li>
            <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i> <span>{{cart_count}}</span></a></li>
        </ul>
        <div class="header__cart__price">wallet: <span>₹{{wallet}}</span></div>
    </div>
    <div class="humberger__menu__widget">

        <div class="header__top__right__auth">
            {% if user.is_authenticated %}
            <div class="header__top__right__auth">
                <a href="{% url 'user_logout'%}"><i class="fa fa-user"></i> Logout</a>
            </div>
            {% else %}
            <div class="header__top__right__auth">
                <a href="{% url 'user_signin'%}"><i class="fa fa-user"></i> Login</a>
            </div>
            {% endif %}
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'view_shop' %}">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> dryzz.official@gmail.com</li>
            <li>Free Shipping for all Order of ₹ 99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> dryzz.official@gmail.com</li>
                            <li>Free Shipping for all Order of ₹ 99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>

                        {% if user.is_authenticated %}
                        <div class="header__top__right__auth">
                            <a href="{% url 'user_logout'%}"><i class="fa fa-user"></i> Logout</a>
                        </div>
                        {% else %}
                        <div class="header__top__right__auth">
                            <a href="{% url 'user_signin'%}"><i class="fa fa-user"></i> Login</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="" width="130px"
                                                    height="70px"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'view_shop' %}">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i></a></li>
                        {% endif %}
                        <li><a href="{% url 'wish_list' %}"><i class="fa fa-heart"></i> <span>{{wish_count}}</span></a>
                        </li>
                        <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i>
                            <span>{{cart_count}}</span></a></li>
                    </ul>
                    <div class="header__cart__price">wallet: <span>₹{{wallet}}</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>